*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
}

body{
    background-image: url('./back/design.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;  
    background-position: static;
}

.wrapper{
    width: auto;
    background-color: #ffffff;
    padding: 70px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 10px 15px rgba(14, 20, 25, 25);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
}

.container{
    width: 45%;
}

input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #d2d2d2;
    outline: none;
    margin-top: 8px;
    padding: 0 10px;
}

input:focus{
    border-color: #ffd631;
}

.image{
    position: static;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
   
}
/*
footer{
    position: static;
    margin-top: 765px;
    text-align: center;
    color: #f5f0f0;
    padding:1px;
    background:#010a1d7e;
    opacity: 0.5;
}
